@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  background-color: #252422 !important;
  height:100%;
  width:100%;
  margin:0;
}

.header {
  background-color: #313131;
  font-family: "Satisfy", cursive;
  color: #eb5e28 !important;
  text-align: center;
  padding-left: 30px !important;
}

.navbar-btn {
  background-color: #eb5e28 !important;
  border-radius: 10px;
  font-family: "Sen", sans-serif !important;
  color: #ccc5b9 !important;
  width: 200px;
  height: 40px;
  margin-right: 20px;
}

.mobile-header {
  display: flex;
  background-color: #313131;
  font-family: "Satisfy", cursive;
  color: #eb5e28;
  padding-left: 50% !important;
}

.container {
  position: relative;
  text-align: center;
}

.main-img {
  background-image: url(./images/BG_img.webp);
  width: 100%;
  height: 600px;
}

.main-img-mobile {
  background-image: url(./images/BG_img.webp);
  width: 100%;
  height: 500px;
}

.head-text {
  color: #ccc5b9;
  font-family: "Satisfy", cursive;
  margin: auto;
  width: 70%;
  padding: 200px 0;
  font-size: 50px;
  text-align: center;
}

.head-text-mobile {
  color: #ccc5b9;
  font-family: "Satisfy", cursive;
  margin: auto;
  width: 80%;
  padding: 200px 0;
  text-align: center;
  font-size: 30px;
}

.header-text-head-mobile {
  text-align: center;
  color: #ccc5b9;
  font-family: "Josefin Sans", sans-serif;
  margin: 20px 10px;
  font-size: 15px;
}

.header-text-head-mobile > h1 {
  color: #eb5e28;
  font-family: "Satisfy", cursive;
  font-weight: bold;
  font-size: 30px;
}

.container {
  text-align: center;
  margin: 30px 0px;
}

.desktop-content-header > p {
  color: #ccc5b9;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

.desktop-content-header > h1{
  margin-top: 10px;
  color: #eb5e28;
  font-size: 40px;
  font-family: "Satisfy", cursive;
  font-weight: bold;
}

.projects-text {
  text-align: center;
}

.projects-text > h1 {
  color: #eb5e28;
  font-size: 40px;
  font-family: "Satisfy", cursive;
  font-weight: bold;
}

.projects-text > p {
  color: #ccc5b9;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

.projects-text-mobile {
  text-align: center;
}

.projects-text-mobile > h1 {
  color: #eb5e28;
  font-family: "Satisfy", cursive;
  font-weight: bold;
  font-size: 30px;
}

.projects-text-mobile > p {
  color: #ccc5b9;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  margin: 0px 5px;
}

.project-overview {
  margin: 20px 10px;
  color: #ccc5b9;
  font-family: "Josefin Sans", sans-serif;
}

.project-overview > h3 {
  text-align: center;
  text-decoration: underline;
  font-family: "Sen", sans-serif;
  color: #eb5e28;
  font-size: 18px;
}

.project-title-highlight {
  color: #eb5e28;
  font-weight: bold;
}

.project-btn {
  background-color: #eb5e28 !important;
  border-radius: 10px;
  font-family: "Sen", sans-serif !important;
  color: #ccc5b9 !important;
  width: 220px;
  height: 35px;
}

.project-overview-desktop {
  color: #ccc5b9;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-align: start;
}

.project-overview-desktop > h3 {
  text-decoration: underline;
  font-family: "Sen", sans-serif;
  color: #eb5e28;
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}

.project-btn-desktop {
  background-color: #eb5e28 !important;
  border-radius: 10px;
  font-family: "Sen", sans-serif !important;
  color: #ccc5b9 !important;
  width: 250px;
  height: 35px;
}

.footer-mobile {
  text-align: center;
  height: 190px;
  width: 100%;
  background-color: #313131;
  font-family: "Josefin Sans", sans-serif;
  color: #ccc5b9;
}

.footer-mobile-allign:first-child {
  padding-top: 10px;
}

.footer-btn {
  background-color: #eb5e28 !important;
  border-radius: 10px;
  font-family: "Sen", sans-serif !important;
  color: #ccc5b9 !important;
  width: 350px;
  height: 35px;
}

.icons-mobile {
  padding: 10px 0px;
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
}

.footer-desktop {
  width: 100%;
  height: 180px;
  background-color: #313131;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #ccc5b9;
  padding: 0px 200px;
  display: flex;
  flex-direction: column;
}

.icons-desktop {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
  text-align: center;
}

.footer-end-text {
  padding-top: 20px;
}

.header-nav {
  height: 50px;
  width: 100%;
  background-color: #313131;
  font-family: "Satisfy", cursive;
  color: #eb5e28;
  text-align: center;
  padding-top: 13px;
}

.header-nav-desktop {
  height: 70px;
  width: 100%;
  background-color: #313131;
  font-family: "Satisfy", cursive;
  color: #eb5e28;
  text-align: center;
  padding-top: 15px;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.input-box {
  margin: 10px 0px;
  border-radius: 5px;
  border: none;
}

.submit-btn {
  background-color: #eb5e28 !important;
  border-radius: 10px;
  font-family: "Sen", sans-serif;
  color: #ccc5b9 !important;
  width: 220px;
  height: 35px;
  border: none;
}

.form-input-desktop {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.input-box-desktop {
  margin: 10px 0px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

.submit-btn-desktop {
  background-color: #eb5e28 !important;
  border-radius: 10px;
  font-family: "Sen", sans-serif;
  color: #ccc5b9 !important;
  width: 350px;
  height: 35px;
  margin: 0 auto;
  border: none;
}


.project-update-text {
  color: #eb5e28;
  font-size: 35px;
  font-family: "Satisfy", cursive;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

